
body {
    background-color: gray; 
    background-image: linear-gradient(rgb(174, 192, 9), white);
    width: auto;
}
td {
    border: 0px solid black;
}

table {
    max-width: 1045px;
    min-width: 600px;
    min-height: 100px;
    margin: auto;
    
}

.middle {
    height: 50px;
}

.img1 {
    width: 1045px;
    height: 320px;
    margin: auto;
}

.foto  {
    height: 300px;
    width: 220px;
}

.img2 {
    width: 280px;

    border-radius: 7px;
}

.nameHead {
    padding: 5px 0 0 20px;
}

.text {
    font-family: Helvetica Neue;
    font-size: 28px;
    line-height: 34px;
}

.back {
    
    border-radius: 7px;
    height: 80px;
}

.buttons {
    display: flex;
    justify-content: space-around;

}
.darbi {
    background: rgb(4, 134, 255);
    border-radius: 7px;
    padding: 20px 50px 20px 50px;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 0px;
    color: #edeff5;
}
.hobiji {
    background: rgb(4, 134, 255);
    border-radius: 7px;
    padding: 20px 50px 20px 50px;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 0px;
    color: #edeff5;  
}
.kontakti {
    background: rgb(4, 134, 255);
    border-radius: 7px;
    padding: 20px 50px 20px 50px;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 0px;
    color: #edeff5;
}

.img3 {
    width: 1045px;
    height: 320px;
    margin: auto;
}
